* * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


body {
  background: #D7E7D5;
}

h1 {
  font-family: 'marydale', sans-serif;
  letter-spacing: 4px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

canvas {
  display: block;
  margin: 90px auto;
  border: 1px solid #A5BBA1;
}

::selection {
  background: transparent;
}

